/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #e1f0ff; /* Couleur de fond modifiée */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.logo img {
  width: 350px;
  margin-bottom: -200px;
  margin: -200px;
  margin-left: -100px;
}

.logo h1 {
  margin-top: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #002b5b;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -170px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #333;
  transition: 0.3s;
}

.menu-item:hover,
.menu-item.active {
  background-color: #cce5ff; /* Couleur d'arrière-plan au survol ou actif */
  border-radius: 8px;
  padding: 8px;
}

.red-dot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-left: auto;
}

/* Déconnexion */
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
  cursor: pointer;
  margin-bottom: 50px;
}
