.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
    font-size: 16px;
  }
  
  .pagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(29, 28, 28);
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  